<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>Label</key><string>NOTIFIER_LAUNCHD_LABEL</string><key>ProgramArguments</key><array><string>/Applications/Mac Audit Agent.app/Contents/Helpers/msaa-anti-ransomware-notifier</string><string>--service</string></array><key>RunAtLoad</key><true/><key>KeepAlive</key><dict><key>SuccessfulExit</key><false/></dict><key>ThrottleInterval</key><integer>30</integer></dict></plist>
